/*********************************************************************
    Variables
********************************************************************/
$red: #ff1515;
$linkcolor: #4b5aff;
$black: #000000;
$white: #ffffff;
$gray: #4f4f4f;
$grid-gap: 30px;
$z-index-header: 52;
$font-size-nav-link: 1.25rem;
$font-normal: "Work Sans", sans-serif;
$font-fancy-text: "Space Mono", monospace;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.05rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.3125rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2.652rem;
$font-size-3-5xl: 3rem;
$font-size-4xl: 4rem;
$layout-breakpoint-small: 767px;
$layout-breakpoint-medium: 992px;
$layout-breakpoint-lg: 1200px;

/******************************************************************** 
    ALL HTML STUFF -- Needed for Good CSS
******************************************************************* */
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: $font-normal;
  font-weight: normal;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Image Background for BODY */
.home-body-page {
  background: none;

  @media (min-width: $layout-breakpoint-small) {
    background: url(../assets/pines.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 50vh;
  }
}

.main-content,
.pines-div {
  padding: 10px;
}

.highlight {
  div:first-child {
    border-radius: 3px;
  }
}

/********************************************************************
    Typography
********************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-fancy-text;
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-2xl;
}

h3 {
  font-size: $font-size-xl;
}

h4 {
  font-size: $font-size-lg;
}

p {
  font-size: $font-size-md;
  line-height: 1.4;
}

/********************************************************************
  Links
********************************************************************/
a {
  color: $linkcolor;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    transition-property: text-decoration;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
  }

  &:focus-visible {
    outline: 9px dashed $red;
    box-shadow: 0 0 0 6px #fff;
  }
}

button {
  font-size: 1rem;

  &:focus-visible {
    outline: 9px dashed $red;
    box-shadow: 0 0 0 6px #fff;
  }
}

.social-media a {
  text-decoration: none;
}

/********************************************************************
  Header / Menu
********************************************************************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 14px 0px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(3px);


  .menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #fff;
    list-style-type: none;
    overflow: hidden;
    z-index: 51;
    flex-direction: column;
    justify-self: center;
    min-width: 100px;
    text-align: center;
    padding: 0;
    width: 100vw;
    left: 0px;
    top: 0;

    &.open {
      display: flex;
      width: 100vw;
      margin: 0;
    }

    .menu-item {
      width: 75%;
    }

    a {
      font-size: $font-size-nav-link;
      padding: 12px;
      width: 100%;
      font-weight: 800;
      text-align: center;
      text-decoration: none;
      color: black;
      border-bottom: solid 3px transparent;
      -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
      -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
      -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
      transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;

      &:hover,
      &:focus {
        color: $red;
      }
    }

    .active {
      color: $red;
      // border-bottom: 3px solid $red;
    }

  }

  // Hamburger Button styles
  .menu-icon {
    display: flex;
    z-index: $z-index-header;
    width: 65px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    position: relative;
    user-select: none;
    height: 100%;
    background: none;
    border: none;

    // Hamburger icon
    .navicon {
      background: $red;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: $font-size-2xl;

      /* CSS Transition for the Hamburger icon  */
      &:before,
      &:after {
        background: $red;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 5px;
      }

      &:after {
        top: -5px;
      }
    }

    &.active {
      .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
          top: 0;
        }

        &:after {
          transform: rotate(45deg);
          top: 0px;
        }
      }
    }

    .active~:not(.steps) .navicon:before,
    .active~:not(.steps) .navicon:after {
      top: 0;
    }
  }

  .logo-div {
    z-index: $z-index-header;
    padding-top: 10px;
    align-self: center;
    grid-column: logo-start / logo-end;
  }

  .logo {
    transform: rotate(15deg);

    &:hover,
    &:focus,
    &:focus-visible {
      transform: rotate(375deg);
      transition: 0.75s;
    }

    &:focus-visible {
      outline: 9px dashed $red;
      box-shadow: 0 0 0 6px #fff;
    }
  }

  // Header -- Media Queries
  @media (min-width: $layout-breakpoint-small) {
    display: grid;
    grid-template-columns: [hamburger-start] min-content [menu-start] 1fr [menu-end logo-start] min-content [logo-end];
    height: 90px;
    position: static;

    // Width now normal/inline with header
    .menu {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      grid-column: menu-start/menu-end;
      width: auto;

      .menu-item {
        padding: 24px;
      }

      a {
        padding: 0 0 3px 0;
        width: 100%;
      }

      .active {
        border-bottom: 3px solid $red;
      }
    }

    .menu-icon {
      display: none;
      width: 80px;

      .navicon {
        width: 2rem;
      }
    }

    .logo-div {
      grid-column: logo-start/logo-end;

      .logo {
        width: 50px;
      }
    }
  }

  @media (min-width: $layout-breakpoint-medium) {
    padding: 0 8em;
  }
}

.open {
  background: white;
}

// Shift all elements down to give space for header
.header~* {
  padding-top: 60px;

  @media (min-width: $layout-breakpoint-small) {
    padding-top: 10px;
  }
}

/******************************************************************** 
    Home Page - Main
********************************************************************/
.main-content {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: $layout-breakpoint-small) {
    flex-direction: row;
  }
}

.profile-pic-div {
  margin: 0 auto;
  max-width: 225px;

  @media (min-width: $layout-breakpoint-small) {
    max-width: 450px;
    margin: 0 0 auto;
  }
}

.profile-pic {
  width: 100%;
  border-radius: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 66ch;
}

.description-title {
  display: block;
  word-wrap: break-word;
  /* For older browsers */
  overflow-wrap: break-word;
  /* For modern browsers */
  font-size: $font-size-3xl;
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
}

.description-info {
  margin: 0;
  font-size: $font-size-2xl;
}

/********************************************************************
    Background-Image
********************************************************************/
.pines-div {
  grid-column: col-start / col-end;
  display: flex;
  justify-content: center;
  grid-row: -1;

  @media (min-width: $layout-breakpoint-small) {
    display: none;
  }
}

.pines {
  width: 100%;
}

/********************************************************************
    PAGE SPECIFIC CSS
********************************************************************/

/********************************************************************
    MAIN 404 STUFF
********************************************************************/
#main-404 {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  justify-content: center;

  video {
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid $black;
  }

  div {
    max-width: 700px;
  }

  * {
    grid-column: 2;
  }

  h1 {
    font-size: $font-size-3xl;
    margin-top: 25px;
    margin-bottom: 0;
    justify-self: center;
  }

  p {
    font-size: 18px;
  }

  @media (min-width: $layout-breakpoint-small) {
    grid-template-columns: 1fr 44em 1fr;
  }
}

/********************************************************************
    ABOUT ME
********************************************************************/

.about-me {
  display: grid;
  width: 100%;
  grid-template-columns: auto minmax(0, 50rem) auto;
  gap: 0;

  a {
    display: inline-block;
    svg {
      width: 28px;
      display: inline-block;
      transition: fill 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      svg {
        fill: $red;
      }
    }
  }
}


.about-me-container {
  grid-column: 2;
  margin: 0 28px;
}

.about-me-title {
  justify-self: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
}

/* Social Media icons */
.social-media {
  * {
    padding: 5px;
  }

  a:hover {
    color: $red;
    transition: all 0.2s ease-in-out;
  }
}



/********************************************************************
    Blog List Page
********************************************************************/

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 556px;
}

.blog-container {
  margin: 1rem 1.25rem;

  .blog-title {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: $black;

      &:hover, &:focus {
        color: $red;
        text-decoration: underline;
      }
    }
  }

  .blog-description {
    font-style: italic;
    font-weight: 400;
    font-size: $font-size-xs;
    text-align: left;
    max-width: 95ch;
    margin-bottom: 8px;
  }
}

.blog-list-time {
  color: $gray;
  font-size: $font-size-xs;
}

/********************************************************************
    Blog Page
********************************************************************/
.blog-page {
  .blog {
    max-width: 100vw;
    overflow: hidden;

    .blog-container {
      max-width: Min(931px, 100%);
      padding-left: 32px;
      padding-right: 32px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .blog-header h1 {
    font-size: 2.15rem;
    margin-bottom: $font-size-xs;
  }

  .blog-info {
    margin-bottom: $font-size-3xl;
    color: $gray;

    p {
      margin: 0;
      font-size: $font-size-xs;
    }

    .blog-description {
      max-width: 100%;
    }
  }

  .blog-content {
    a {
      display: inline;
    }
    p {
      img {
        max-width: 100%;
        border-radius: 3px;
      }
    }
    h2 {
      margin-top: 1.5em;
    }
  }
}

/********************************************************************
   Footer
********************************************************************/
footer {
  align-items: center;
  border-top: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 100%;

  p {
    font-size: 10px;
  }

  .copyright {
    padding-top: 5px;
    color: $gray;
  }

  a {
    text-decoration: none;
  }
}

.footer-mid {
  max-height: 550px;
  overflow: hidden;
}
